* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.error {
  color: red;
}

// img {
//   display: block;
//   width: 100%;
// }

.pagination {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 20px 0;
  ul {
    li a, span {
      // display: inline-block;
      width: 20px;
      font-size: 20px;
      line-height: 1.25;
    }
    .active {
      color: #ff385c;
    }
  }
}