#reset-password {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#form-reset-password {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 30%;
  padding: 20px 15px;
  border: 1px solid #ececec;
  border-radius: 10px;
  box-shadow: 0 0 0 black;
  label {
    margin: 20px 0;
  }
  .input-form {
    width: 100% !important;
  }
}